# GAB Example

In [2]:
# Import BeautifulSoup
from bs4 import BeautifulSoup
from splinter import Browser

In [5]:
# Set the executable path and initialize the chrome browser 
executable_path = {'executable_path':'/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

# Visit NASA mars NEW SITES

In [6]:
#Visit the mars nasa new site
url= 'https://mars.nasa.gov/news/'
browser.visit(url)

In [8]:
html = browser.html
news_soup = BeautifulSoup (html, 'html.parser')
# print(news_soup)

# news_soup.select_one('ul.item_list')

# slide element everything in the 
# <ul class="item_list">
#     <li class="slide">
#     ....
# </ul>

slide_element = news_soup.select_one('ul.item_list li.slide')

In [9]:
slide_element.find("div", class_="content_title")

In [11]:
#Use the parent element to find the first a tag and save it as news_title
news_title = slide_element.find('div', class_='content_title').get_text()
news_title

"Catch NASA's JPL at the Clippers SciFest This Weekend"

In [12]:
news_paragraph = slide_element.find('div', class_='article_teaser_body').get_text()
news_paragraph

"Students and families can meet a Mars rover, take a virtual tour through our solar system and explore alien worlds with NASA's Jet Propulsion Laboratory at the Clippers SciFest SoCal."

# JPL SPACE IMAGES FEATURED IMAGE

In [19]:
# Visit URL

url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [20]:
# Asking splinter to go to the site and hit the button with a class name full image
#<button class="full_image">Full Image</button>
full_image_button = browser.find_by_id('full_image')
full_image_button.click()

In [21]:
# find the more info button and click on it
browser.is_element_present_by_text('more info', wait_time=1)
more_info_element = browser.find_link_by_partial_text('more info')
more_info_element.click()

In [22]:
# Parse the results html with soup
html = browser.html
image_soup = BeautifulSoup(html, 'html.parser')

In [25]:
img_url = image_soup.select_one('figure.lede a img').get('src')
img_url

'/spaceimages/images/largesize/PIA17767_hires.jpg'

In [26]:
# Use the base url to create an absolute url
img_url = f'https://www.jpl.nasa.gov{img_url}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17767_hires.jpg'

# MARS WEATHER

In [37]:
url2 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url2)

In [38]:
html = browser.html
weather_soup = BeautifulSoup(html, 'html.parser')

In [39]:
# First find a tweet with the data-name 'Mars Weather'
mars_weather_tweet = weather_soup.find('div', attrs={"class": "tweet",
                                                     "data-name": "Mars Weather"
                                                    })

In [40]:
# Next search within the tweet for a p tag containing the tweet text
mars_weather= mars_weather_tweet.find('p', 'tweet-text').get_text()
mars_weather

'InSight has detected microseisms for the first time on another planet https://www.hou.usra.edu/meetings/lpsc2019/pdf/2246.pdf\xa0â€¦pic.twitter.com/LNiNXEBYQY'

In [55]:
url3 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url3)

In [59]:
hemisphere_images_urls = []

# First get a list of all the hemispheres
links = browser.find_by_css('a.product-item h3')
for item in range(len(links)):
    hemisphere = {}
    
    # We have to find the element on each loop to avoid a stale element exception
    browser.find_by_css('a.product-item h3')[item].click()
    
    # Next we find the sample image anchor tage and extract the href
    sample_element = browser.find_link_by_text('Sample').first
    hemisphere['img_url'] = sample_element['href']
    
    # Get hemisphere title
    hemisphere['title'] = browser.find_by_css('h2.title').text
    
    # Append hemisphere object to list
    hemisphere_images_urls.append(hemisphere)
    
    # Finally, we navigate backwards
    browser.back()

In [60]:
hemisphere_images_urls

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

# MARS FACTS

In [61]:
import pandas as pd 
df = pd.read_html('https://space-facts.com/mars/')[0]
print(df)
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 Â°C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 Â°C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [62]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 Â°C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
browser.quit()